<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="images/favicon.ico" />
    <title>Magic_Team</title>
</head>
<body>
<div style="width: 100%;height: 100%">
<div style="height: 90%;">
    <p>该网站用于个人软件开发学习</p>
    <img src="images/bg1.jpg">
</div>
<div style="height:100px;position: fixed;buttom:0px">
    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010802009100">浙ICP备18017974号</a>
</div>

</div>


</body>
</html>